#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/bt.h>


/{
    macros {
        select_tool: select_tool {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings
                = <&kp ESCAPE &kp V>;
        };

        frame_tool: frame_tool {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings
                = <&kp ESCAPE &kp F>;
        };

        text_tool: text_tool {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings
                = <&kp ESCAPE &kp T>;
        };

        undo: undo {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings
                = <&kp LG(Z)>;
        };

        redo: redo {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings
                = <&kp LG(LS(Z))>;
        };
    };

    behaviors {
        mistake: mistake {
            compatible = "zmk,behavior-sensor-rotate";
            #sensor-binding-cells = <0>;
            bindings = <&undo>, <&redo>;
        };
    };

    keymap {
        compatible = "zmk,keymap";

        default_layer {
            bindings = <
                &select_tool     &frame_tool     &text_tool
                &kp KP_NUMBER_4     &kp KP_NUMBER_5     &kp KP_NUMBER_6
                &kp KP_NUMBER_7     &kp KP_NUMBER_8     &kp KP_NUMBER_9
            >;

            sensor-bindings = <&mistake>;
        };
    };
};